# Visual Studio 2015/2017 cache/options directory                
.vs/                                                             
                                                                 
# -- ignore all 'bin' and 'obj' folders                          
**/obj                                                           
**/bin                                                           